{% extends 'base.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block body %}
    <h1>{{title}}</h1>
<div class='container'>

    <h3>
        ID | {{number}}
    </h3>
    <h3>
       OBJECT |  {{object}}
    </h3>

</div>
    
{% endblock %}